<div id="geliver_form" class="geliver_form">
    <table class="data-table admin__control-table" id="shipment_tracking_info">
        <thead>
        <tr class="headings">
            <th class="col-width">Box Width</th>
            <th class="col-height">Box Height</th>
            <th class="col-length">Box Length</th>
            <th class="col-weight">Box Weight</th>
            <th class="col-action">Action</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td class="col-width">
                <input class="input-text admin__control-text" type="text" id="pack_width" name="pack_width" data-bind="value: width">
            </td>
            <td class="col-height">
                <input class="input-text admin__control-text" type="text" id="pack_height" name="pack_height" data-bind="value: height">
            </td>
            <td class="col-length">
                <input class="input-text admin__control-text" type="text" id="pack_length" name="pack_length" data-bind="value: length">
            </td>
            <td class="col-weight">
                <input class="input-text admin__control-text" type="text" id="pack_weight" name="pack_weight" data-bind="value: weight">
            </td>
            <td class="col-action">
                <button class="action" type="button" id="del-track">
                    <span>Teklif Al</span>
                </button>
                <button class="action" type="button" id="del-track">
                    <span>Gönderi Oluştur</span>
                </button>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
