<?xml version="1.0"?>
<!--
/**
 * @author Atwix Team
 * @copyright Copyright (c) Atwix (https://www.atwix.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="magedesk_geliver" frontName="magedesk_geliver">
            <module name="MageDesk_Geliver"/>
        </route>
    </router>
</config>
